.tables__title {
    border-bottom: 2px solid #b1afaf;
    margin: 20px 30px 0;
    width: 95%;
}

.create-table {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: 20px;
    width: 97%;
}

@media (max-width: 768px) {
    .tables__title {
        width: 90%;
    }

    .create-table {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .tables__title {
        width: 85%;
    }

    .create-table {
        width: 85%;
    }
}