.container__number {
  align-items: center;
  background-color: var(--red);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}

.number {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  margin: 0 auto;
  width: 500px;
}


.number__body {
  align-items: center;
  display: flex;
  height: 40%;
  justify-content: center;
  width: 100%;
}
