.tables__title{
    margin: 20px 30px 0;
    width: 95%;
    border-bottom: 2px solid #b1afaf;
}

.create-table {
    display: flex;
    height: 100%;
    width: 97%;
    margin: 20px;
    flex-wrap: wrap;
}