.todo__tarjet__container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.todo__tarjet__container::-webkit-scrollbar {
  width: 5px;
}

.todo__tarjet__container::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 10px;
}

.todo__tarjet {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #d6d6d6;
}

.todo__tarjet__subtitle {
  background-color: var(--white);
  font-weight: 100;
  border-radius: 5px 5px 0 0;
  width: 100%;
  padding: 0 5px;
}

.todo__add-tarjet {
  margin: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
  height: 30px;
  font-weight: 100;
}

.todo__add-tarjet:hover {
  background-color: var(--white);
}

.todo__tarjet__text {
  width: 15px;
  margin: 0 5px;
  padding: 5px 0;
}

.todo__tarjet__icons {
  display: flex;
}

.todo__tarjet__comments {
  font-size: 0.8rem;
  padding: 5px 0;
}

.todo__tarjet__message {
  width: 15px;
  margin-right: 2px;
  vertical-align: middle;
}

.todo__tarjet__space {
  flex-grow: 1;
}
