.profile {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.profile__desc {
  width: 100%;
  margin: 20px 0 60px;
  color: var(--primary-color);
}

.profile__desc--title {
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.profile__desc--description {
  font-size: 0.9rem;
  font-weight: 400;
  width: 300px;
}

.profile__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--primary-color);
  margin-bottom: 50px;
}

.profile__header--title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.profile__header__image {
  position: relative;
  width: 100%;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.127);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.079),
    -1px -1px 1px 1px rgba(0, 0, 0, 0.019);
}

.profile__header__image--top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to right, var(--red), white);
}

.profile__header__image--bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: white;
}

.profile__header__image--icon {
  align-items: center;
  background-color: var(--red);
  border: 2px solid var(--white);
  border-radius: 50%;
  display: flex;
  font-size: 3.5rem;
  font-weight: 800;
  justify-content: center;
  position: absolute;
  top: 25%;
  left: 10%;
  height: 100px;
  width: 100px;
}

.profile__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--primary-color);
}

.profile__body--title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.profile__body__about{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}


.profile__body__about--item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about__title{
    font-size: .9rem;
}

.about__content{
    font-size: .8rem;
    font-weight: 300;
}

