.activity--icon {
  width: 17px;
}

.button--send {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
}

.comment__icon {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  min-height: 60px;
  width: 10%;
}

.comment__icon--icon {
  align-items: center;
  background-color: var(--red);
  border-radius: 50%;
  color: #fff;
  cursor: default;
  display: flex;
  font-size: 1.2rem;
  height: 40px;
  justify-content: center;
  margin-top: 3px;
  width: 40px;
}

.comment__content {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.comment__content__header {
  align-items: center;
  color: var(--primary-color);
  display: flex;
  font-size: 0.9rem;
  gap: 10px;
  justify-content: flex-start;
}

.comment--autor {
  font-weight: 500;
}

.comment--date {
  font-size: 0.8rem;
}

.comment__content__body {
  background-color: white;
  border: 1px solid #b4b4b4;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 5px 10px;
}

.comment__actions {
  display: flex;
  justify-content: flex-start;
}

.comment_list {
  color: var(--primary-color);
  display: flex;
  font-size: 0.8rem;
  font-weight: 300;
  gap: 23px;
  margin-left: 20px;
}

.form__todo {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.form__modal__image {
  width: 10%;
}
.form__modal__comment {
  border: 1px solid #b4b4b4;
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 90%;
}

.form__modal--input {
  background-color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  position: relative;
  width: 100%;
}

.form__modal__image--icon {
  align-items: center;
  background-color: var(--red);
  border-radius: 50%;
  color: #fff;
  cursor: default;
  display: flex;
  font-size: 1.2rem;
  height: 40px;
  justify-content: center;
  margin: 0 10px 5px;
  width: 40px;
}

.form__modal--input:hover {
  background-color: #e2e2e2;
}

.form__modal--input:focus {
  background-color: #ffffff;
}

.modal-todo {
  background-color: #fefefe;
  border: 2px solid var(--primary-color);
  margin: 40px auto;
  max-height: 650px;
  max-width: 600px;
  overflow-y: auto;
  position: relative;
  width: 80%;
}

.todo__header {
  background-color: var(--primary-color);
  color: var(--white);
  height: 100%;
  padding: 20px;
}

.todo__header__tittle {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  gap: 10px;
  justify-content: flex-start;
}

.todo__header--status {
  font-size: 0.8rem;
}

.todo__header--icon {
  width: 25px;
}

.todo__header--desc {
  color: rgb(214, 214, 214);
  font-size: 0.75rem;
  font-weight: 200;
}

.todo__activity {
  background-color: var(--white);
  padding: 20px;
}

.todo__activity__header {
  display: flex;
  font-size: 1.1rem;
  gap: 10px;
}

.todo__activity--title {
  font-weight: 400;
}

.todo__comment {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 100%;
}

.icon--send {
  width: 100%;
}

.todo--button {
  background-color: transparent;
  border: none;
  color: white;
  color: white;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: 10px;
}

.todo__activity__comment {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.list__item--action {
  cursor: pointer;
  text-decoration: underline;
}
