.Login,
.change_password {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login__header,
.change_password_header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  margin: 0px 10px 20px;
}

.login__header__title,
.change_password_header__title {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.login__header__description,
.change_password__header__description {
  font-size: 0.8rem;
  margin: 10px 0;
  width: 50%;
  color: gray;
}

.login__body,
.change_password__body {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  height: 220px;
  border-top: 1px solid var(--secondary-color);
}

.login__input,
.change_password__input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background-color: var(--green);
  border-radius: 15px;
  overflow: hidden;
  padding: 0 10px 0 15px;
  margin-bottom: 12px;
}

.login__body__form,
.change_password__form {
  width: 100%;
}

.login_body__icon,
.change_password__icon {
  width: 23px;
}

.login__input:hover,
.change_password__input:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 1px 1px var(--secondary-color);
}

.login__footer,
.change_password__footer {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  align-items: center;
}

.login__footer__button:hover,
.change_password__footer__button:hover {
  background-color: #fc5184dd;
}
