
.about__title {
  font-size: 0.9rem;
}

.about__content {
  font-size: 0.8rem;
  font-weight: 300;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
}

.profile__desc {
  color: var(--primary-color);
  margin: 20px 0 60px;
  width: 100%;
}

.profile__desc--title {
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.profile__desc--description {
  font-size: 0.9rem;
  font-weight: 400;
  width: 300px;
}

.profile__header {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  width: 100%;
}

.profile__header--title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.profile__header__image {
  border: 1px solid rgba(0, 0, 0, 0.127);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.079),
    -1px -1px 1px 1px rgba(0, 0, 0, 0.019);
  height: 200px;
  position: relative;
  width: 100%;
}

.profile__header__image--top {
  background: linear-gradient(to right, var(--red), white);
  height: 100px;
  position: absolute;
  top: 0;
  width: 100%;
}

.profile__header__image--bottom {
  background-color: white;
  bottom: 0;
  height: 100px;
  position: absolute;
  width: 100%;
}

.profile__header__image--icon {
  align-items: center;
  background-color: var(--red);
  border-radius: 50%;
  border: 2px solid var(--white);
  display: flex;
  font-size: 3.5rem;
  font-weight: 800;
  height: 100px;
  justify-content: center;
  left: 10%;
  position: absolute;
  top: 25%;
  width: 100px;
}

.profile__body {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile__body--title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.profile__body__about {
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 25px;
  position: relative;
}

.profile__body__about--item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

