.done {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px;
    background-color: rgb(236, 236, 236);
    box-shadow: 0 0 4px var(--primary-color);
    border-radius: 2px;
    height: min-content;
    max-height: 475px;
}

.done__tarjet__container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}


.done__tarjet__container::-webkit-scrollbar {
    width: 5px;
}

.done__tarjet__container::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 10px;
}

.done__title {
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: 200;
    font-size: 1.2rem;
}

.done__tarjet {
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d6d6d6;
}

.done__tarjet__subtitle {
    background-color: var(--white);
    font-weight: 100;
    border-radius: 5px 5px 0 0;
    width: 100%;
    padding: 0 5px;
}


.done__add-tarjet {
    margin: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    height: 30px;
    font-weight: 100;
}


.done__add-tarjet:hover {
    background-color: var(--white);
}

.done__tarjet__text {
    width: 15px;
    margin: 0 5px;
    padding: 5px 0;
}

.done__tarjet__icons {
    display: flex;
}

.done__tarjet__comments {
    font-size: .8rem;
    padding: 5px 0;
}

.done__tarjet__message {
    width: 15px;
    margin-right: 2px;
    vertical-align: middle;
}


.done__tarjet__space {
    flex-grow: 1;
}

.done__add-tarjet__create {
    display: flex;
    justify-content: center;
}

.done__add-tarjet__confirm {
    cursor: pointer;
    margin: 0 20px 10px 0;
}

.done__add-tarjet__confirm:hover {
    filter: drop-shadow(0px 0px 2px var(--secondary-color));
}

.done__add-tarjet__cancel {
    cursor: pointer;
    width: 25px;
}

.done__add-tarjet__cancel:hover {
    filter: drop-shadow(0px 0px 2px var(--red));

}

.done__add-tarjet__add{
    width: 20px;
    vertical-align: middle;
    margin: 0 5px;
}

