.container__auth {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}

.auth {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  margin: 0 auto;
  width: 500px;
}

.auth__body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 35%;
  justify-content: center;
}

.auth__wave {
  position: absolute;
  top: 0;
  z-index: -1;
}


