.links {
    text-decoration: none;
    max-width: 150px;
    min-width: 100px;
    flex: 1 1 20px;
    margin: 0 5px;
    color: var(--white);
}

.create-table__item {
    min-width: 150px;
    max-width: 200px;
    flex: 1 1 20px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 3px #808080;
    color: var(--white);
    position: relative;
    cursor: pointer;
}

.create-table__title {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
}

.create-table__color {
    background-color: var(--primary-color);
    display: flex;
    text-decoration: none;
}

.create-table__delete {
    position: absolute;
    top: -5px;
    right: -5px;
    height: 20px;
    border-radius: 0 5px 5px 0;
    background-color: var(--white);
    box-shadow: 0 0 5px var(--primary-color);
}

.create-table__item__p {
    height: 100%;
}

.create-table__edit {
    position: absolute;
    top: -5px;
    right: 15px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    background-color: var(--white);
    box-shadow: 0px 0 5px var(--primary-color);
}

@media (max-width: 400px) {
    .create-table__item {
        max-width: 250px;
        left: 10%;
    }
}