.auth__header {
  height: 40%;
  text-align: center;
  width: 100%;
}

.auth__image {
  display: flex;
  height: 55%;
  justify-content: center;
}

.auth__image__lock {
  height: 100%;
}

.auth__header__title {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
  margin: 15px;
}

.auth__header__description {
  font-size: 1rem;
  font-weight: 300;
}
