@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --primary-color:#364F6B;
    --secondary-color:#3FC1C9;
    --green:#a5f1f56b;
    --red: #FC5185;
    --white:#F5F5F5;
}

body{
    background-color: var(--white);
    font-family: poppins;
}
