.Login{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login__header{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    margin: -80px 10px 30px;
}

.login__header__title{
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.login__header__description{
    font-size: .8rem;
    color: gray
}

.login__body{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
    border-top: 1px solid var(--secondary-color);
}

.login__input{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: var(--green);
    border-radius: 15px;
    overflow: hidden;
    padding: 0 10px 0 15px;
}

.login__input:hover{
    transition: .5s;
    box-shadow: 0px 0px 1px 1px var(--secondary-color);
}
input{
    width: 90%;
    font-size: .9rem;
    background-color: transparent;
    border: none;
    outline: none;
}


.login__footer{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
}

.login__footer__bottom{
    border-radius: 30px;
    margin-top: 30px;
    padding: 14px 60px;
    border: none;
    background-color: var(--red);
    color: white;
    cursor: pointer;
}

.login__footer__bottom:hover{
    background-color: #fc5184dd ;
}


.icon__team{
    left: 30px;
    bottom: 10px;
    position: absolute;
    height: 250px;
}
.icon__cat{
    right: 10px;
    bottom: 0;
    position: absolute;
    height: 100px;
}


.background__icons{
    bottom: 0;
    position: absolute;
    height: 250px;
    width: 100%;
}